fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
scikit-learn
numpy
pandas
prophet
joblib
python-multipart
httpx
alembic